.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 31, 48);
    width: 100vw;
    height: 250px;
    padding-left: 15px;
    padding-right: 15px;
    gap: 100px;
    color: white;
}

.edemy{
     width: 300px;
     text-align: left;
}
.edemy img{
    padding-bottom: 20px;
}
.edemy p{
    padding: 8px;
}

.company{
    width: 300px;
}
.company ul{
    padding: 8px;
    text-decoration: none;
}
.company li{
    padding: 8px;
    text-decoration: none;
}

.subscribe{
    width: 300px;
}
.subscribe input{
    margin-top: 10px;
    height: 30px;
}
.subscribe button{
    height: 30px;
    width: 100px;
    background-color: blue;
    border: none;
    color: white;
    margin-left: 5px;
}