.Home{
    width: 100%;
 
}

.header{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 900px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

#other{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#other button{
    padding: 12px;
    border-radius: 20px;
    border: none;
    background-color: blue;
    color: white;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
#title{
    text-align: center;
}
#title h1{
   padding:5px;
}
.input{
    margin-top: 20px;
    width: 500px;
    height: 40px;
    border: 1px solid;
    padding-top: 4px;
    padding-bottom: 4px;
}
.input input{
    width: 80%;
    height: 100%;
    border: none;
}
.input button{
    height: 100%;
    padding-left: 26px;
    padding-right: 26px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
}

.trusted{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
#Trusted{
text-align: center;
}
#img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.filterinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 80px;
}
#filterinfo{
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.eight{
    margin-left: 10vw;
    margin-left: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin-bottom: 50px;
}
.cover{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px ;
    height: 300px;
}
.container{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid;
}
.container img{
    width: 100%;
    height: 130px;
}
.container h1{
    font-size: 20px;
}


.showbtn{
    width: 100vw;
    text-align: center;
    margin-top: 0px;
}

.testimonial{
    text-align: center;
}
#rich{
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 25px;
}
.three{
    width: 300px;
    height: 300px;
    box-shadow: 0px 5px 10px;
    border-radius: 10px;
    margin-top: 50px;
}
.imgname{
    display: flex;
    background-color: gray;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 60px;
    align-items: center;
}
.imgname img{
    height: 50px;
    width: 50px;
}

.learn{
    width: 100vw;
    height: 400px;
    text-align: center;
    margin-top: 200px;
}
.getbtn{
    margin-top: 50px;
  
}
.getbtn button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-left: 10px;
    border: none;
}
#blue{
    background-color: blue;
    color: white;
}


